@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Sofia+Sans+Extra+Condensed:wght@326;400;500&display=swap');


*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100%;
    background-color: rgb(27, 28, 29);
    

}

.content{
    margin: 25px;
    background-color: #e3dacf;
    height: 100vh;
    width: auto;
    background-image: url(./Untitled-1.png);
}

.navbar a, .navbar ul {
    font-family: 'Sofia Sans Extra Condensed', sans-serif ;
    font-size: 30px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.navbar a{
    padding-left: 30px;

    border-left:  solid 1px #613704;
    display: inline-block;
}
.navbar a:after {
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px #613704;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar h1{
    display: inline;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 1cap;
    padding: 15px;
}

.animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
  }
  
  @keyframes animate-glow {
    0% {
      opacity: 0;
      filter: brightness(3) saturate(3);
      transform: scale(0.8, 0.8);
    }
    100% {
      opacity: 1;
      filter: brightness(1) saturate(1);
      transform: scale(1, 1);
    }
  }
  
  .delay-1 {
    animation-delay: 0.6s;
  }
  .delay-2 {
    animation-delay: 0.7s;
  }
  .delay-3 {
    animation-delay: 0.8s;
  }
.animate {
    animation-duration: 0.75s;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
  }

.animate.fade {
    animation-name: animate-fade;
    animation-timing-function: ease;
}
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.back_image{
    position: absolute;
    align-self: flex-start;
    width: 100% ;
    height: 100%;
}
.main {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.image_in{
    width: auto;
    height: auto;
}

.line_between{
    background-color: #3b2203;
    width: 3px;
    height: 50vh;
    animation: line_between 1s ease-in-out 0s 1 normal none;
}
@keyframes line_between {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}


.introduction {
    margin-left: 100px;
    width: 500px  ;
    animation: introduction 1s ease-in-out 0s 1 normal none;
}
@keyframes introduction {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-60px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(-0px);
	}
}

.portrait{
    width: 80%;
    box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.233);
    /* animation-delay: 5s; */
    animation: portrait 1s ease-in-out 0s 1 normal none;
}
@keyframes portrait {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(60px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}

  
  











.footer{
    margin: 2%;
    width: 96%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 100px;
}
.footer h2 { 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(112, 119, 126);
    font-size: 20px;
    letter-spacing: 2px;
}

.footer a, .footer ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(156, 159, 163);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}
.footer a:hover{
    color: rgb(215, 216, 218);
}

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background: rgb(27, 28, 29);
}
::-webkit-scrollbar-thumb{
    background: #e3dacf;
}